[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-identity = "*"
azure-keyvault-secrets = "*"
google-cloud-secret-manager = "*"
apscheduler = "*"
sentry-sdk = "*"

[dev-packages]
flake8 = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.9"
